body{
background:#EBF4FA;
}

.chat_box{
width: 300px;
bottom: 0px;
position: fixed;
right: 10px;
}

.chat_header{
background: #38ACEC;
padding:15px;
}

.chat_body{
height: 250px;
background:#FFFFFF;
}

.chat_close_button{
right: 0px;
}