<html>
  <head>
    <title>dateApp login</title>
  </head>
  <body>
    <div class="container">
      <h1>Please login</h1>
      <br>
      <form action="login" method="post">
        <!--<input type="text" placeholder="Username" name="username" value="{{
          request.form.username }}">
         <input type="password" placeholder="Password" name="password" value="{{
          request.form.password }}">-->
        <input type="text" placeholder="Username" name="username" value="RanjithGangam">
         <input type="password" placeholder="Password" name="password" value="abc">
        <input class="btn btn-default" type="submit" value="Login">
      </form>

      <form action="signup" method="post">
        <input class="btn btn-default" type="submit" value="Signup">
      </form>
	  
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>